/*

light-green:;#B2FF59;
medium-green:#00E676;
dark-green:##00C853
;

*/


*,
*::after,
*::before   {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size: 70%;
}

body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: rgb(155, 154, 154);
    padding: 3rem;
    box-sizing: border-box;
}

.header{
    background-image: linear-gradient(to right bottom,rgba(178, 255, 89, 0.699),rgba(0, 200, 83, 0.76)),url(../imgs/pexels-photo-116078.jpeg);
    height: 95vh;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0,100% 0,100% 75vh,50% 100%,0 75vh);
    position: relative;
}

.header__logo-box{
    position: absolute;
    left: 6rem;
    top: 4rem;
}

.header__logo-img{
    height: 10rem;
}

.header__text-box{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%); /* Translates with respect to itself */    
    text-align: center;
}

.primary-heading{
    color: white;
    text-transform: uppercase;
    line-height: 1.2;
    backface-visibility: hidden;   
    margin-bottom: 5rem;   
}

.primary-heading--main{
    display: block;
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 2rem;

    animation-name: slideInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    /* animation-delay: 1s; */
}

.primary-heading--sub{
    display: block;
    font-size: 3.44rem;
    font-weight: 300;
    letter-spacing: .1rem;
    text-align: left;

    animation-name: slideInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    /* animation-delay: 1s; */
}

@keyframes slideInLeft{
    0%{
        transform: translateX(-10rem);
        opacity: 0;
    }

    50%{
       transform: translateX(1rem);
       opacity: 0.5;
    }

    100%{
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes slideInBottom{
    0%{
        transform: translateY(3rem);
        opacity: 0;
    }

    100%{
        transform: translate(0);
        opacity: 1;
    }
}

.btn:link,
.btn:visited{ 
    text-decoration: none;
    border: none;
    font-size: 2.4rem;
    border-radius: 10rem;
    display: inline-block;
    padding: .5rem 7rem;
    transition: all 0.2s;
    position: relative;
}

.btn:hover{
    transform: translateY(-5px);
    box-shadow:0 1rem 2rem rgba(17, 17, 17, 0.301); 
}

.btn:active{
    transform: translateY(-1px);
    box-shadow:0 .5rem 1rem rgba(2, 2, 2, 0.637); 
}

.btn--white{
    background-color: white;
    color: rgb(138, 135, 132);
}

.btn::after{
    content: "";
    border-radius: 10rem;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s;
    z-index: -1;
}

.btn:hover::after{
    background-color: rgb(255, 255, 255);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated{
    animation: slideInBottom 1s ease-out 0.75s;
    animation-fill-mode: backwards;
}

/* @media screen min-width:760px{
    html{
        font-size: 10px;
    }
} */