*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 70%; }

body {
  box-sizing: border-box; }

@keyframes slideInLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  50% {
    transform: translateX(1rem);
    opacity: 0.5; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes slideInBottom {
  0% {
    transform: translateY(3rem);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.primary-heading {
  color: #ebebeb;
  text-transform: uppercase;
  line-height: 1.2;
  backface-visibility: hidden;
  margin-bottom: 5rem; }
  .primary-heading--main {
    display: block;
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 2.6rem;
    animation-name: slideInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    /* animation-delay: 1s; */ }
  .primary-heading--sub {
    display: block;
    font-size: 3.44rem;
    font-weight: 300;
    letter-spacing: .34rem;
    text-align: left;
    animation-name: slideInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    /* animation-delay: 1s; */ }

.heading-secondary {
  font-size: 3rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right top, #00E676, #B2FF59);
  -webkit-background-clip: text;
  display: inline-block;
  color: transparent;
  transition: all .4s; }
  .heading-secondary:hover {
    transform: scale3d(1.1, 1.1, 2); }

.heading-tertiary {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1.6;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.u-text-center {
  text-align: center; }

.u-text-left {
  text-align: left; }

.mb-small {
  margin-bottom: 1.3rem; }

.mb-medium {
  margin-bottom: 8rem; }

.mt-medium {
  margin-top: 8rem; }

.mt-huge {
  margin-top: 10rem; }

.section-about, .section-price {
  background: #f7f5f9;
  padding-top: 25vh;
  padding-bottom: 50vh;
  margin: -20vh auto; }

.section-feature {
  background-image: linear-gradient(to right top, rgba(0, 200, 83, 0.8), rgba(178, 255, 89, 0.5)), url("../../imgs/gym-girl.jpg");
  height: 100vh;
  padding: 15rem 0;
  background-size: cover;
  background-position: center;
  transform: skewY(-7deg); }
  .section-feature > * {
    transform: skewY(7deg); }

.section-price {
  padding-top: 50vh;
  padding-bottom: 15vh; }

.btn::after {
  content: "";
  border-radius: 10rem;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.4s;
  z-index: -1; }

.btn:link, .btn:visited {
  text-decoration: none;
  border: none;
  font-size: 2.4rem;
  border-radius: 10rem;
  display: inline-block;
  padding: .5rem 7rem;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(17, 17, 17, 0.301); }
  .btn:hover::after {
    background-color: #ebebeb;
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(2, 2, 2, 0.637); }

.btn--white {
  background-color: #ebebeb;
  color: #777; }

.btn--green {
  background-color: #00E676;
  color: white; }

.btn--animated {
  animation: slideInBottom 1s ease-out 0.75s;
  animation-fill-mode: backwards; }

.collection {
  position: relative; }
  .collection__photos {
    width: 55%;
    position: absolute;
    transition: all .1s;
    z-index: 10;
    outline-offset: 1rem;
    box-shadow: 0 1.5rem 4rem rgba(119, 119, 119, 0.5); }
    .collection__photos--p1 {
      left: 0;
      top: -2rem; }
    .collection__photos--p2 {
      left: 23rem;
      top: 4rem; }
    .collection__photos--p3 {
      left: 4rem;
      top: 9rem; }
    .collection__photos:hover {
      outline: 1rem solid #00E676;
      z-index: 20; }
  .collection:hover .collection__photos:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(235, 235, 235, 0.9);
  margin: 0.5rem;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
  box-shadow: 0 1.5rem 4rem rgba(119, 119, 119, 0.4);
  min-height: 25rem;
  transition: all .4s; }
  .feature-box__text {
    line-height: 1.1; }
  .feature-box__icon {
    font-size: 6rem;
    background-image: linear-gradient(to left top, #00E676, #B2FF59);
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    color: transparent; }
  .feature-box:hover {
    transform: scaleX(1.05) scaleY(1.1); }

.card {
  perspective: 150rem;
  -webkit-perspective: 150rem;
  height: 45rem; }
  .card__side {
    height: 45rem;
    transition: all .4s ease;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(119, 119, 119, 0.5);
    border-radius: 3px; }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, #004e92, #000428); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, #B2FF59, #00C853); }
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, #FF5F6D, #FFC371); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: color;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #004e92, #000428), url("../../imgs/img1-large.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #B2FF59, #00C853), url("../../imgs/img2-large.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #FF5F6D, #FFC371), url("../../imgs/img3-large.jpg"); }
  .card__heading {
    font-size: 2rem;
    color: white;
    display: inline-block;
    padding: 1rem 1.5rem;
    position: absolute;
    top: 17rem;
    right: 2rem;
    border-radius: 5px; }
    .card__heading--1 {
      background-image: linear-gradient(to right bottom, #004e92, #000428); }
    .card__heading--2 {
      background-image: linear-gradient(to right bottom, #B2FF59, #00C853); }
    .card__heading--3 {
      background-image: linear-gradient(to right bottom, #FF5F6D, #FFC371); }
  .card__details {
    padding: 1.5rem 0; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      text-align: center; }
      .card__details ul li {
        color: #777;
        padding: .5rem .2rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #ebebeb; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    padding: 2.5rem 1rem; }
  .card__price {
    text-transform: uppercase;
    color: white;
    margin: 3rem 0; }
    .card__price h1 {
      font-size: 6rem;
      font-weight: 100; }

.header {
  background-image: linear-gradient(to right bottom, rgba(0, 230, 118, 0.8), rgba(0, 200, 83, 0.6)), url(../../imgs/pexels-photo-116078.jpeg);
  height: 95vh;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 50% 100%, 0 75vh);
  position: relative; }
  .header__logo-box {
    position: absolute;
    left: 6rem;
    top: 4rem; }
  .header__logo-img {
    height: 10rem; }
  .header__text-box {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    /* Translates with respect to itself */
    text-align: center; }

.row {
  display: block;
  max-width: 105rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1 {
    width: calc((100% - 11*4rem)/12); }
  .row .col-2 {
    width: calc((100% - 5*4rem)/6); }
  .row .col-3 {
    width: calc((100% - 3*4rem)/4); }
  .row .col-4 {
    width: calc((100% - 2*4rem)/3); }
  .row .col-6 {
    width: calc((100% - 4rem)/2); }
