// Colors
$primary-color:#00E676;
$primary-color-light:#B2FF59;
$primary-color-dark:#00C853;
$about-section-color:#f7f5f9;

$text-color-gray-dark:#777;
$text-color-gray-light:rgb(235, 235, 235);

//Fonts
$default-font-size:1.6rem;

//Grid
$row-width:114rem;
$col-margin-vertical:6rem;
$col-margin-horizontal:4rem;
