.section-about{
    background:$about-section-color;
    padding-top: 25vh;
    padding-bottom: 50vh;
    margin: -20vh auto;
}

.section-feature{
    background-image: linear-gradient(to right top,rgba($primary-color-dark,0.8),rgba($primary-color-light, 0.5)),
                      url('../../imgs/gym-girl.jpg');
    height: 100vh;
    padding: 15rem 0;
    background-size: cover;
    background-position: center;
    // clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 90%);

    transform: skewY(-7deg);

    //Select 'all direct children' of parent selector
    & > *{
        transform: skewY(7deg); 
    }
}

.section-price{
    @extend .section-about;
    padding-top: 50vh;
    padding-bottom: 15vh;
}

.section-stories{
    padding: 2.5rem 0;
    position: relative;
    background: none;
    margin-top: 13.5rem;
}